[Desktop Entry]
Version=1.0
Name=Volume Control
GenericName=Volume Control
Comment=Adjust the volume level
Exec=pavucontrol
Icon=/home/user/Pictures/Icons/Transparent.png
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=pavucontrol;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
Path=
Terminal=false
X-XFCE-Source=file:///home/user/.local/share/applications/pavucontrol.desktop
